<HTML>
  <BODY>
    <H1>LISTA DE EQUIPOS</H1>
      <?php
      $con = mysql_connect("<%=@db_ip%>","<%=@wb_user%>","<%=@wb_pass%>");
      if (!$con)
          {
          die('Could not connect: ' . mysql_error());
          }
      mysql_select_db("bduno", $con);
      $result = mysql_query("SELECT * FROM <%=@tablename%>");

      while($row = mysql_fetch_array($result))
            {
            echo $row['name'] . " " . $row['titulos'];
            echo "<br />";
            }
       mysql_close($con);
      ?>
  </BODY>
</HTML>
